:root {
    /* change the values below to your colors from your palette */
    --primary-color: #B30033; /*use  with white text*/
    --secondary-color: #FF6512;  /*use  with black text*/
    --accent1-color: #00ab6f; /*use  with black text*/
    --accent2-color: #97BC00; /*use  with black text*/
    
    --primary-color-alpha: #B3003380; /*use  with white text*/
    --secondary-color-alpha: #FF651280;  /*use  with black text*/
    --accent1-color-alpha: #00ab6f80; /*use  with black text*/
    --accent2-color-alpha: #97BC0080; /*use  with black text*/
    /* --accent3-color: ; use  with black text */
    --page-background: #fafafa;
    --card-background: white;
    --card-border: #d3d3d3;
    --card-border-hover: #213140;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Zilla Slab";
    --paragraph-font: "Raleway", sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --primary-color-text: white;
    --secondary-color-text: black;
    --accent1-color-text: black;
    --accent2-color-text: black;
    /* --accent3-color-text: black; */
    --nav-link-color: var(--primary-color-text);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--secondary-color-text);
    --nav-hover-background-color: var(--secondary-color);
    --headline-color-on-white: var(--secondary-color);
    --paragraph-background-color: var(--primary-color);
    --headline-color-on-color: var(--primary-color-text);
}

  /******************/
 /* General styles */
/******************/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--page-background);
}

form,
label,
input,
button {
    font-family: var(--paragraph-font);
    font-size: 1rem;
}

h1,
h2,
h3,
.site-name {
    font-family: var(--heading-font);
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ol {
    margin-left: 1.5rem;
}

main {
    padding: 0 1.25rem;
    max-width: 84rem;
    margin: 0 auto;
}

  /*************************/
 /* Header and navigation */
/*************************/
.logo-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
}

.site-name {
    font-size: 2rem;
    margin-left: 0.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.menu-icon {
    position: relative;
    margin-left: auto;
    margin-right: 0.5rem;
    border: 0.3rem solid transparent;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.menu-bar {
    height: 0.25rem;
    width: 3rem;
    display: block;
    margin: 0.5rem auto;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 0.625rem;
    transition: 0.4s;
}

.menu-icon.open>.menu-bar:nth-child(1) {
    transform: translateY(.75rem) rotate(45deg);
}

.menu-icon.open>.menu-bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.open>.menu-bar:nth-child(3) {
    transform: translateY(-0.75rem) rotate(-45deg);
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    border-top: 0.5rem solid var(--secondary-color);
    transition: grid-template-rows 0.5s ease-out;
}

nav.open {
    grid-template-rows: 1fr;
    border-top: none;
}

nav ul {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    overflow: hidden;
}

nav li {
    text-align: right;
    display: block;
    display: flex;
}

nav a {
    color: var(--nav-link-color);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    flex: 1;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
    font-weight: 600;
}

nav a.active {
    border-right: 0.5rem solid var(--secondary-color);
}

  /*****************/
 /* Footer styles */
/*****************/

footer {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
}

footer a {
    color: var(--primary-color-text);
}

  /**********************/
 /* Control bar styles */
/**********************/

.page-heading {
    max-width: 50rem;
    margin: auto;
}

h1,
h2 {
    text-align: center;
}

.control-bar {
    margin: 1rem auto;
    text-align: center;
    max-width: 50rem;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 30rem;
    row-gap: 0.5rem;
    margin: auto;
}

.form-grid label {
    text-align: right;
    margin-right: 0.5rem;
}

.form-grid button {
    margin: 0;
    grid-column: span 2;
}

.form-grid .three-button-container {
    text-align: center;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
}

.three-button-container button {
    width: 8rem;
}

  /******************/
 /* Slider formats */
/******************/

/* CSS slider examples: https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.slider {
    appearance: none;
    height: 1rem;
    border-radius: 0.5rem;
    background: var(--card-border);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--accent1-color);
    cursor: pointer;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--accent1-color);
    cursor: pointer;
}

.slider-number {
    display: inline-block;
    width: 2rem;
    text-align: left;
}

  /*****************/
 /* Button styles */
/*****************/
button {
    border-radius: 0.3rem;
    border: none;
    background-color: var(--accent1-color);
    padding: 0.5rem;
    color: var(--accent1-color-text);
    cursor: pointer;
    opacity:0.9;
    margin-top: 0.75rem;
}

button:hover {
    opacity: 1;
}

  /********************/
 /* Main grid styles */
/********************/
.card-grid {
    margin: 0.75rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12em, 100%), 1fr));
    row-gap: 0.75rem;
    column-gap: 0.75rem;
    padding: 1.25rem;
}

.card-grid.medium {
    grid-template-columns: repeat(auto-fit, minmax(min(18em, 100%), 1fr));
}

.card-clickable,
.card {
    border: 0.05rem solid black ;
    border-radius: 0.65rem;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.3rem 0 #00000080;
    text-align: center;
    background-color: white;
}

.card-clickable {
    cursor: pointer;
}

.card-clickable:hover {
    box-shadow: 0 0.25rem 0.3rem 0 var(--secondary-color-alpha);
}

.card-clickable .image-container {
    position: relative;
    overflow: hidden;
    padding-top: 0;
}

.card img,
.card-clickable img {
    width: 100%;
    height: 100%;
} 

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 50rem;
}

.sidebar-grid p {
    margin-top:    1rem;
    margin-bottom: 1rem;
}

   /******************************/
  /* Dialog modal configuration */
 /******************************/
 .modal {
    border: 0.06rem solid var(--card-border);
    border-radius: 1rem;
    margin: auto;
    position: fixed;
    align-self: center;
    padding: 1.5rem;
    width: 75%;
}

.modal-title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modal .iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.modal iframe {
    border: 0.06rem solid var(--card-border);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-title-row h2 {
    margin-left: 1rem;
}

.modal::backdrop {
      background-color: rgb(0, 0, 0, .5);
}

.modal-close-button {
    background-color: var(--card-background);
}

.modal video {
    width: 100%;
    max-height: 80vh;
}

  /******************/
 /* Printed agenda */
/******************/
.print-agenda {
    /* size: 8.5in 11in; */
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 1rem;
    border: none;
}

.print-agenda h1 {
    margin-bottom: 2.5rem;
}

.print-agenda p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.print-agenda .footer {
    font-size: 1rem;
    text-align: right;
    opacity: 0.7;
    position: fixed;
    bottom: 0;
    right: 1.5rem;
}

  /**********************/
 /* Loading animations */
/**********************/

/* CSS Loading animations: https://dev.to/webdeasy/25-awesome-loading-animations-where-you-like-to-wait-1b5f */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--primary-color);
  border-right: 16px solid var(--secondary-color);
  border-bottom: 16px solid var(--accent1-color);
  border-left: 16px solid var(--accent2-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
  margin: auto;
  position: fixed;
  align-self: center;
  background-color: rgb(0, 0, 0, 0);
}

.loader::backdrop {
    background-color: rgb(255, 255, 255, .6);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

   /****************************/
  /* Toggle switch formatting */
 /****************************/

 /* CSS radio buttons: https://freefrontend.com/css-radio-buttons/#google_vignette */
 .toggle {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.toggle input {
    width: 0;
}

.toggle input + label {
    cursor: pointer;
    flex: auto;
    padding: 0.75rem 2rem;
    border: solid 1px var(--card-border);
    background-color: var(--card-background);
    line-height: 140%;
    font-weight: 600;
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle input + label:first-of-type {
    border-radius: 0.4rem 0 0 0.4rem;
    border-right: none;
}

.toggle input + label:last-of-type {
    border-radius: 0 0.4rem 0.4rem 0;
    border-left: none;
}

.toggle input:hover + label {
    border-color: var(--card-border-hover);
}

.toggle input:checked + label {
    background-color: var(--accent1-color);
    color: var(--accent1-color-text);
    border-color: var(--accent1-color);
    z-index: 1;
}

.toggle input:focus + label {
    outline: dotted 0.0625rem var(--card-border);
    outline-offset: 0.45rem;
}

  /**********************/
 /* 640px media query  */
/**********************/
@media screen and (min-width: 40rem) {
    .menu-icon {
        display: none;
    }

    nav {
        grid-template-rows: 1fr;
        flex: 1 1 100%;
        transition: none;
        border: none;
    }

    nav ul,
    nav ul.open {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        text-align: center;
        width: 20%;
    }

    nav a.active {
        border-right: none;
        background-color: var(--secondary-color);
    }

    nav a.active {
        color: var(--secondary-color-text);
        font-weight: 700;
    }

    .sidebar-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }    

    .page-heading {
        grid-column: span 3;
    }
    
    .grid-main {
        grid-column: span 2;
    }    
}

@media print {
    .print-agenda{
        width: 7in;
        height: 10in;
    }

}