:root {
    /* change the values below to your colors from your palette */
    --primary-color: #002238;  /*use  with white text*/
    --secondary-color: #93b039; /*use  with black text*/
    --accent1-color: #75abb0; /*use  with black text*/
    --accent2-color:  #fcf2d9; /*use  with black text*/
    --page-background: #fffcf5;
    --card-background: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Amita";
    --paragraph-font: "Raleway", sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --primary-color-text: white;
    --secondary-color-text: black;
    --accent1-color-text: black;
    --nav-link-color: var(--primary-color-text);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--secondary-color-text);
    --nav-hover-background-color: var(--secondary-color);

    /* dark mode changes */
    --dark-primary-color: #fffcf5;
    --dark-text-color: #fffcf5;
    --dark-secondary-color: #93b039; /*use  with black text*/
    --dark-accent1-color: #75abb0; /*use  with black text*/
    --dark-accent2-color:  #fcf2d9; /*use  with black text*/
    --dark-page-background: #111111;
    --dark-card-background: white;
    --dark-primary-color-text: #002238;
}

* {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--page-background);
}

h1, h2, h3, h4, h5, h6, .navsubtitle {
    font-family: var(--heading-font);
}

/*****************************/
/*     Header formatting     */
/*****************************/

header {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

.header-blocks {
    padding: 5px;
    display: flex;
    align-items: center;
}

#menu, #themetoggle-mobile, #themetoggle-desk {
    color: var(--primary-color-text);
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}

#themetoggle-desk {
    display: none;
}

#themetoggle-desk:hover {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.title-block {
    flex: 1 1 100%;
}

#menu > #closemenuicon {
    display: none;
}

#menu.show > #closemenuicon {
    display: block;
}

#menu > #openmenuicon {
    display: block;
}

#menu.show > #openmenuicon {
    display: none;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav.show {
    grid-template-rows: 1fr;
}

nav ul {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    overflow: hidden;
}

nav li {
    text-align: right;
    display: block;
    display: flex;
}

nav a {
    color: var(--nav-link-color);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    flex: 1;
}

nav a:hover {
    background-color: var(--accent1-color);
    color: var(--accent1-color-text);
}

nav a.active {
    border-right: 7px solid var(--secondary-color);
}

/******************/
/* Footer section */
/******************/

footer {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    margin-top: 10px;
}

.footer-items {
    margin: 0 auto;
    display: flex;
    padding: 5px;
    flex-direction: column;
    max-width: 1350px;
}

footer a {
    color: var(--primary-color-text);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent1-color);
}

.footer-card {
    padding: 10px;
}

.footer-card.footer-icons {
    display: flex;
    align-self: center;
}

.footer-icons a {
    /* Inspiration from https://codepen.io/foxeisen/pen/oZPzMQ */
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--primary-color-text); 
    font-size: 1.5em;
    transition: color 300ms, background-color 300ms ease-in-out;
}

.footer-icons a:hover {
    background-color: var(--primary-color-text);
    color: var(--primary-color);
}

.footer-icons {
    margin: 0 auto;
}

/***************************/
/*       Main section      */
/***************************/

main {
    padding: 0 20px;
    max-width: 1350px;
    margin: 0 auto;
}

main h1 {
    text-align: left;
}

/***************************/
/* Dark mode configuration */
/***************************/

main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6 {
        color: var(--primary-color);
    }

body.dark-mode {
    background-color: var(--dark-page-background);
    color: var(--dark-text-color);
}    

body.dark-mode > main > h1,
body.dark-mode > main > h2,
body.dark-mode > main > h3,
body.dark-mode > main > h4,
body.dark-mode > main > h5,
body.dark-mode > main > h6 {
    color: var(--accent1-color);
}